<p>
Tempe High School Students WERE HERE!
</p>
<p>
e
</p>
<p>
e
</p>
<p>
dfdff
</p>
<p>
=
</p>
<p>
&lt;script&gt;document.body.innerHTML = ‘&lt;h1&gt;This site has been hacked&lt;/h1&gt;’;&lt;/script&gt;
</p>
<p>
&lt;script&gt;document.body.innerHTML = ‘&lt;h1&gt;This site has been hacked&lt;/h1&gt;’;&lt;/script&gt;
</p>
<p>
&lt;script&gt;document.body.innerHTML = ‘&lt;h1&gt;This site has been hacked&lt;/h1&gt;’;&lt;/script&gt;
</p>
<p>
&lt;script&gt;document.body.innerHTML = ‘&lt;h1&gt;This site has been hacked&lt;/h1&gt;’;&lt;/script&gt;
</p>
<p>
&lt;script&gt;document.body.innerHTML = ‘&lt;h1&gt;This site has been hacked&lt;/h1&gt;’;&lt;/script&gt;
</p>
<p>
&lt;script&gt;document.body.innerHTML = ‘&lt;h1&gt;This site has been hacked&lt;/h1&gt;’;&lt;/script&gt;
</p>
<p>
msorpfkewo
</p>
<p>
&lt;script&gt;alert(1)&lt;/script&gt;
</p>
<p>
&lt;script&gt;alert(1)&lt;/script&gt;
</p>
<p>
	&lt;script&gt;document.body.innerHTML = &lt;h1&gt;This site has been hacked&lt;/h1&gt;;&lt;/script&gt;
</p>
<p>
	&lt;script&gt;document.body.innerHTML = ‘&lt;h1&gt;This site has been hacked&lt;/h1&gt;’;&lt;/script&gt;
</p>
<p>
	&lt;script&gt;document.body.innerHTML = ‘&lt;h1&gt;This site has been hacked&lt;/h1&gt;’;&lt;/script&gt;
</p>
<p>
&lt;script&gt;document.body.innerHTML = ‘&lt;h1&gt;This site has been hacked&lt;/h1&gt;’;&lt;/script&gt;
</p>
<p>
	&lt;script&gt;document.body.innerHTML = &lt;h1&gt;This site has been hacked&lt;/h1&gt;;&lt;/script&gt;
</p>
<p>
	&lt;script&gt;&lt;h1&gt;This site has been hacked&lt;/h1&gt;;&lt;/script&gt;
</p>
<p>
	&lt;script&gt;&lt;h1&gt;This site has been hacked&lt;/h1&gt;;&lt;/script&gt;
</p>
<p>
&lt;script&gt;document.body.innerHTML = ‘&lt;h1&gt;This site has been hacked&lt;/h1&gt;’;&lt;/script&gt;
</p>
